@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(243 244 246);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: auto;
}

.home {
  background-repeat: no-repeat;
  justify-content: space-evenly;
  display: flex;
}

.navbar ul {
  display: flex;
  color: blue;
  justify-content: space-evenly;
}

/* src/SignUpSignInForm.css */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container form div {
  margin-bottom: 15px;
}

.form-container form label {
  margin-bottom: 5px;
}

.form-container form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container form button:hover {
  background-color: #0056b3;
}

.social-login-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.social-login-buttons button {
  width: 100%;
}

.form-container button {
  margin-top: 20px;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.form-container button:hover {
  color: #0056b3;
}
